.menu {
    margin: 0;
    position: fixed;
    width: 15%;
    height: 100vh;
    background-color: #000000;
    z-index: 100;
    box-sizing: border-box;
}

.menu img {
    width: 60%;
    height: 16%;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 20%;
    border: 3px solid grey;
}

.menu ul {
    position: fixed;
    width: 14.7%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    text-align: center;
}

.menu ul li a {
    font-size: 0.8rem;
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.menu ul li a:hover {
    color: red;
}